@keyframes colorChange {
  0% {
    color: #f87171;
  }
  25% {
    color: #fbbf24;
  }
  50% {
    color: #34d399; 
  }
  75% {
    color: #60a5fa;
  }
  100% {
    color: #f87171; 
  }
}

.colorChangingExclamation {
  animation: colorChange 2s infinite;
}
